<%- include('../includes/head.ejs') %>
  </head>

  <body>

    <header class="u-width-base">
      <h1 class="heading-01">
        Music Theory
      </h1>
      <h2 class="heading-02">
        Chords - Name Polychords
      </h2>
      <img src="/img/theme-sep01_symbol.svg" alt="" class="theme-sep01">
    </header>

    <main class="u-width-base">

      <nav class="u-margin-top-small u-margin-bottom-small">
        <p class="p__a-btn">
          <a href="/chordfunctions" class="a-btn01 a-btn01--previous">PREVIOUS</a>
        </p>          
      </nav>

      <section class="u-margin-top-medium u-margin-bottom-small">

        <h2 class="heading-02">
          Parameters
        </h2>
          
        <form id="form_namechord">
          <fieldset class="fieldset--solidgold">
            <legend class="form__legend">Choose Notes for inclusion:</legend>            
            <select id="note1" class="form__select form__select--bkgbrownbeige">
              <%  let labels1 = chordNoteOptions;
                  let values1 = chordNoteValues;
                  for ( let i = 0; i < labels1.length; i++ ) {
                    let selected = (selectedNote1 === labels1[ i ]) ? 'selected': '';
                    %><option value="<%= values1[ i ] %>" <%= selected %>><%= labels1[ i ] %></option>
              <%  } %>
            </select>

            <select id="note2" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels2 = chordNoteOptions;
                  let values2 = chordNoteValues;
                  for ( let i = 0; i < labels2.length; i++ ) {
                    let selected = (selectedNote2 === labels2[ i ]) ? 'selected': '';
                    %><option value="<%= values2[ i ] %>" <%= selected %>><%= labels2[ i ] %></option>
              <%  } %>
            </select>

            <select id="note3" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels3 = chordNoteOptions;
                  let values3 = chordNoteValues;
                  for ( let i = 0; i < labels3.length; i++ ) {
                    let selected = (selectedNote3 === labels3[ i ]) ? 'selected': '';
                    %><option value="<%= values3[ i ] %>" <%= selected %>><%= labels3[ i ] %></option>
              <%  } %>
            </select>

            <select id="note4" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels4 = additionalChordNoteOptions;
                  let values4 = additionalChordNoteValues;
                  for ( let i = 0; i < labels4.length; i++ ) {
                    let selected = (additionalNote === labels4[ i ]) ? 'selected': '';
                    %><option value="<%= values4[ i ] %>" <%= selected %>><%= labels4[ i ] %></option>
              <%  } %>
            </select>

            <select id="note5" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels5 = additionalChordNoteOptions;
                  let values5 = additionalChordNoteValues;
                  for ( let i = 0; i < labels5.length; i++ ) {
                    let selected = (additionalNote === labels5[ i ]) ? 'selected': '';
                    %><option value="<%= values5[ i ] %>" <%= selected %>><%= labels5[ i ] %></option>
              <%  } %>
            </select>

            <select id="note6" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels6 = additionalChordNoteOptions;
                  let values6 = additionalChordNoteValues;
                  for ( let i = 0; i < labels6.length; i++ ) {
                    let selected = (additionalNote === labels6[ i ]) ? 'selected': '';
                    %><option value="<%= values6[ i ] %>" <%= selected %>><%= labels6[ i ] %></option>
              <%  } %>
            </select>

            <select id="note7" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels7 = additionalChordNoteOptions;
                  let values7 = additionalChordNoteValues;
                  for ( let i = 0; i < labels7.length; i++ ) {
                    let selected = (additionalNote === labels7[ i ]) ? 'selected': '';
                    %><option value="<%= values7[ i ] %>" <%= selected %>><%= labels7[ i ] %></option>
              <%  } %>
            </select>

            <select id="note8" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels8 = additionalChordNoteOptions;
                  let values8 = additionalChordNoteValues;
                  for ( let i = 0; i < labels8.length; i++ ) {
                    let selected = (additionalNote === labels8[ i ]) ? 'selected': '';
                    %><option value="<%= values8[ i ] %>" <%= selected %>><%= labels8[ i ] %></option>
              <%  } %>
            </select>

            <select id="note9" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels9 = additionalChordNoteOptions;
                  let values9 = additionalChordNoteValues;
                  for ( let i = 0; i < labels9.length; i++ ) {
                    let selected = (additionalNote === labels9[ i ]) ? 'selected': '';
                    %><option value="<%= values9[ i ] %>" <%= selected %>><%= labels9[ i ] %></option>
              <%  } %>
            </select>

            <select id="note10" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels10 = additionalChordNoteOptions;
                  let values10 = additionalChordNoteValues;
                  for ( let i = 0; i < labels10.length; i++ ) {
                    let selected = (additionalNote === labels10[ i ]) ? 'selected': '';
                    %><option value="<%= values10[ i ] %>" <%= selected %>><%= labels10[ i ] %></option>
              <%  } %>
            </select>

            <select id="note11" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels11 = additionalChordNoteOptions;
                  let values11 = additionalChordNoteValues;
                  for ( let i = 0; i < labels11.length; i++ ) {
                    let selected = (additionalNote === labels11[ i ]) ? 'selected': '';
                    %><option value="<%= values11[ i ] %>" <%= selected %>><%= labels11[ i ] %></option>
              <%  } %>
            </select>

            <select id="note12" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels12 = additionalChordNoteOptions;
                  let values12 = additionalChordNoteValues;
                  for ( let i = 0; i < labels12.length; i++ ) {
                    let selected = (additionalNote === labels12[ i ]) ? 'selected': '';
                    %><option value="<%= values12[ i ] %>" <%= selected %>><%= labels12[ i ] %></option>
              <%  } %>
            </select>

            <select id="note13" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels13 = additionalChordNoteOptions;
                  let values13 = additionalChordNoteValues;
                  for ( let i = 0; i < labels13.length; i++ ) {
                    let selected = (additionalNote === labels13[ i ]) ? 'selected': '';
                    %><option value="<%= values13[ i ] %>" <%= selected %>><%= labels13[ i ] %></option>
              <%  } %>
            </select>

            <select id="note14" class="form__select form__select--bkgbrownbeige u-margin-left-tiny">
              <%  let labels14 = additionalChordNoteOptions;
                  let values14 = additionalChordNoteValues;
                  for ( let i = 0; i < labels14.length; i++ ) {
                    let selected = (additionalNote === labels14[ i ]) ? 'selected': '';
                    %><option value="<%= values14[ i ] %>" <%= selected %>><%= labels14[ i ] %></option>
              <%  } %>
            </select>
          </fieldset>        

          <fieldset class="fieldset--solidgold">
            <legend class="form__legend">Choose Enharmonic Preference:</legend>
              <div class="input__note--orienthorz">
                <input type="radio" name="enharmonic" id="sharp" value="sharp" checked />
                <label class="form__label" for="sharp">(&#9839;) Sharps</label>
              </div>

              <div class="input__note--orienthorz">
                <input type="radio" name="enharmonic" id="flat" value="flat" />
                <label class="form__label" for="flat">(&#9837;) Flats</label>
              </div>                              
          </fieldset>
          
          <div class="u-margin-top-small u-margin-bottom-small">
            <p class="p__a-btn">
              <a class="a-btn02" id="namepolychords">GET POLYCHORDS</a>
            </p>
          </div>
                    
        </form>           
        
        <img src="/img/theme-sep01_symbol.svg" alt="" class="theme-sep01">

      </section> 

      <section>

        <div class="u-margin-top-small">           
          <h2 class="heading-02">
            Polychords
          </h2>
        </div>
        
        <div id="polychord-names">           
          <p>
            <i>Polychords will be displayed here</i>
          </p>
        </div>  

      </section>
          
    </main> 

    <footer class="u-width-base">
      <hr>
        
      <p class="p__footnote">
        Copyright &#169 2022 Rodney Martin
      </p>
    </footer>

    <script src="/js/namepolychords.js"></script>   
<%- include('../includes/end.ejs') %>