<%- include('../includes/head.ejs') %>
  </head>

  <body>

    <header class="u-width-base">
      <h1 class="heading-01">
        Music Theory
      </h1>
      <h2 class="heading-02">
        Keys - Notes In Key
      </h2>
      <img src="/img/theme-sep01_symbol.svg" alt="" class="theme-sep01">
    </header>

    <main class="u-width-base">

      <nav class="u-margin-top-small u-margin-bottom-small">
        <p class="p__a-btn">
          <a href="/keyfunctions" class="a-btn01 a-btn01--previous">PREVIOUS</a>
        </p>          
      </nav>

      <section class="u-margin-top-medium u-margin-bottom-small">

        <h2 class="heading-02">
          Parameters
        </h2>
          
        <form id="form_notesinkey">                    
          <fieldset class="fieldset--solidgold">
            <legend class="form__legend">Choose Key:</legend>
            <select id="keys" class="form__select form__select--bkgbrownbeige">
              <%  let labels = keyOptions;
                  let values = keyValues;
                  for ( let i = 0; i < labels.length; i++ ) {
                    let selected = (defaultKey === labels[ i ]) ? 'selected': '';
                    %><option value="<%= values[ i ] %>" <%= selected %>><%= labels[ i ] %></option>
              <%  } %>
            </select>
          </fieldset>          
          
          <div class="u-margin-top-small u-margin-bottom-small">
            <p class="p__a-btn">
              <a class="a-btn02" id="notesinkey">GET NOTES IN KEY</a>
            </p>
          </div>
                    
        </form>           
        
        <img src="/img/theme-sep01_symbol.svg" alt="" class="theme-sep01">

      </section> 

      <section>

        <div class="u-margin-top-small">           
          <h2 class="heading-02">
            Notes in Key
          </h2>
        </div>
        
        <div id="key-notes">           
          <p>
            <i>Notes in Key will be displayed here</i>
          </p>
        </div>
        
        <div id="comments">           
          <!--Comments-->
        </div> 

      </section>
          
    </main> 

    <footer class="u-width-base">
      <hr>
        
      <p class="p__footnote">
        Copyright &#169 2022 Rodney Martin
      </p>
    </footer>

    <script src="/js/notesinkey.js"></script>   
<%- include('../includes/end.ejs') %>