<%- include('../includes/head.ejs') %>
  </head>

  <body>

    <header class="u-width-base">
      <h1 class="heading-01">
        Music Theory
      </h1>
      <h2 class="heading-02">
        Scales - Notes In Scale
      </h2>
      <img src="/img/theme-sep01_symbol.svg" alt="" class="theme-sep01">
    </header>

    <main class="u-width-base">

      <nav class="u-margin-top-small u-margin-bottom-small">
        <p class="p__a-btn">
          <a href="/scalefunctions" class="a-btn01 a-btn01--previous">PREVIOUS</a>
        </p>          
      </nav>

      <section class="u-margin-top-medium u-margin-bottom-small">

        <h2 class="heading-02">
          Parameters
        </h2>
          
        <form id="form_notesinscale">
          <fieldset class="fieldset--solidgold">
            <legend class="form__legend">Choose a Root Note for the Scale:</legend>
            <%  let labels1 = scaleNoteOptions;
                let values1 = scaleNoteValues;
                for ( let i = 0; i < labels1.length; i++ ) {
                  let checked = (scaleRootNote === values1[ i ]) ? 'checked' : '';
                  %><div class="input__note--orienthorz">
                      <input type="radio" name="scaleroot" value="<%= values1[ i ] %>" <%= checked %>/>
                      <label class="form__label" for="scaleroot"><%= labels1[ i ] %></label>
                    </div>
            <%  } %>
          </fieldset>

          <fieldset class="fieldset--solidgold">
            <legend class="form__legend">Choose Scale Type:</legend>
            <select id="scaletypes" class="form__select form__select--bkgbrownbeige">
              <%  let labels2 = scaleTypeOptions;
                  let values2 = scaleTypeValues;
                  for ( let i = 0; i < labels2.length; i++ ) {
                    let selected = (scaleType === labels2[ i ]) ? 'selected': '';
                    %><option value="<%= values2[ i ] %>" <%= selected %>><%= labels2[ i ] %></option>
              <%  } %>
            </select>
          </fieldset>

          <fieldset class="fieldset--solidgold">
            <legend class="form__legend">Choose Number of Octaves for the Scale:</legend>
            <%  let labels3 = octavesOptions;
                let values3 = octavesValues;
                for ( let i = 0; i < labels3.length; i++ ) {
                  let checked = (scaleOctaves === values3[ i ]) ? 'checked' : '';
                  %><div class="input__note--orienthorz">
                      <input type="radio" name="octaves" value="<%= values3[ i ] %>" <%= checked %>/>
                      <label class="form__label" for="octaves"><%= labels3[ i ] %></label>
                    </div>
            <%  } %>
          </fieldset>
          
          <div class="u-margin-top-small u-margin-bottom-small">
            <p class="p__a-btn">
              <a class="a-btn02" id="notesinscale">GET SCALE NOTES</a>
            </p>
          </div>
                    
        </form>           
        
        <img src="/img/theme-sep01_symbol.svg" alt="" class="theme-sep01">

      </section> 

      <section>

        <div class="u-margin-top-small">
          <h2 class="heading-02">
            Scale Notes (Ascending)
          </h2>

          <div id="scale-notes-ascending">           
            <p>
              <i>Ascending Scale notes will be displayed here</i>
            </p>
          </div>
        </div>
        
        <div class="u-margin-top-small">
          <h2 class="heading-02">
            Scale Notes (Descending)
          </h2>

          <div id="scale-notes-descending">           
            <p>
              <i>Descending Scale notes will be displayed here</i>
            </p>
          </div>
        </div>

      </section>
          
    </main> 

    <footer class="u-width-base">
      <hr>
        
      <p class="p__footnote">
        Copyright &#169 2022 Rodney Martin
      </p>
    </footer>

    <script src="/js/notesinscale.js"></script>   
<%- include('../includes/end.ejs') %>